@charset "UTF-8";
/*  основний колір тексту #757575 */
/* додатковий колір тексту #212121; */
/* вторинний колір фону #F5F4FA; */
/* колір фону підвалу #2F303A; */
/* колір тексту підвалу rgba(255,255,255,0.6) */
/* акцент #2196F3; */
:root {
  --text-color: #757575;
  --sec-text-color: #212121;
  --bg-color: #ffffff;
  --white-text-color: #ffffff;
  --hero-bg-color: #2f303a;
  --sec-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --icon-fill-one: #afb1b8;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* common styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
body.no-scroll {
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  color: var(--sec-text-color);
  font-weight: 700;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.studio-black {
  color: #000000;
}

.studio-white {
  color: var(--white-text-color);
}

.main-button {
  width: 200px;
  height: 50px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.button {
  padding: 6px 22px;
  color: var(--sec-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* modal window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim), visibility var(--anim);
  transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

/* Form inside */
.form-title {
  width: 448px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 41px;
  padding-left: 2px;
  font-size: 20px;
  font-weight: 700;
  color: var(--sec-text-color);
}

.box-data-list {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.box-element {
  position: relative;
}

.box-element:not(:last-child) {
  margin-bottom: 28px;
}

.field-name {
  position: absolute;
  top: -18px;
  left: 0;
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.icon-input {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.input-field {
  width: 100%;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: border var(--anim);
  transition: border var(--anim);
}
.input-field:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input-field:focus + .icon-input {
  fill: var(--accent-color);
}

.comment-field {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.comment-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment-field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 423px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-check {
  border: 1px solid var(--sec-text-color);
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: background-color var(--anim), border var(--anim);
  transition: background-color var(--anim), border var(--anim);
}

.policy {
  line-height: 1.46;
}
.policy-agree {
  color: var(--accent-color);
}

.origin-checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-cl);
}

.submit-button {
  position: absolute;
  display: block;
  top: 491px;
  left: calc(50% - 100px);
}

/* team socials */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-fill-one);
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.socials-link:hover, .socials-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.socials-icon {
  fill: currentColor;
}

/* footer socials */
.socials-f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.socials-f-link:hover, .socials-f-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* header */
.header {
  font-weight: 500;
  border: 1px solid #ececec;
}
.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header-item {
  position: relative;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--sec-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav .link:hover, .header-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact:not(:last-child) {
  margin-right: 50px;
}
.contact-icon {
  fill: var(--text-color);
  margin-right: 10px;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.link:hover .contact-icon, .link:focus .contact-icon {
  fill: currentColor;
}

.link.current {
  color: var(--accent-color);
}
.link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backrgound/hero-bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backrgound/hero-bg.jpg");
}
.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
  }
}

/* features */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__item {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}
.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--sec-bg-color);
  border-radius: 4px;
}
.features__title {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  margin-top: 10px;
  line-height: 1.71;
}

/* work */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__item {
  position: relative;
}

.work__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */
.team {
  background-color: var(--sec-bg-color);
}
.team-item {
  width: 270px;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-title {
  margin-bottom: 10px;
  color: var(--sec-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* clients */
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-fill-one);
  border: 1px solid var(--icon-fill-one);
  border-radius: 4px;
  -webkit-transition: border var(--anim), color var(--anim);
  transition: border var(--anim), color var(--anim);
}
.clients__link:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
    min-height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.clients__icon {
  fill: currentColor;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}
.footer .logo {
  padding: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* justify-content: space-between; */
}
.footer-subtitle {
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.address {
  margin-right: 70px;
}
.address-info {
  font-style: normal;
  line-height: 1.71;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--white-text-color);
}

.cont-link {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  margin-left: auto;
}
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.subscribe .subscribe-icon {
  fill: currentColor;
}

/* -footer styles end- */
/* --portfolio styles-- */
/* buttons styles */
.buttons-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.l-btn:not(:last-child) {
  margin-right: 8px;
}

/* project styles */
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .project {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 60px) / 3);
  }
}
.project-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  text-align: left;
}
.project-title {
  margin-bottom: 4px;
  color: var(--sec-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.p-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.p-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
  background-color: rgba(33, 150, 243, 0.9);
}
.project-link:hover .p-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-overlay {
  width: 322px;
  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.p-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */