/* --portfolio styles-- */

/* buttons styles */
.buttons-list {
    margin-bottom: 25px;
    display: flex;
    // justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: start;
    }
    
    @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 15px;
    }

    @media screen and (min-width: 1200px) {
            justify-content: center;
            margin-bottom: 35px;
    }
}

.l-btn {
    margin-bottom: 15px;
    
    &:not(:last-child) {
        margin-right: 8px;
        
    }
}

/* project styles */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    // margin: -15px;
    gap: 30px;
}

.project {
    // width: 370px;
    width: calc((100% - 30px * 0) / 1);
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px * 1) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 30px * 2) / 3);
        }
    
&-link {
    display: block;
    transition: box-shadow var(--anim);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
&-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    text-align: left;
}
&-title {
    margin-bottom: 4px;
    color: var(--sec-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
}

.p-box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.p-overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--anim);
    background-color: rgba(33, 150, 243, 0.9);

    .project-link:hover & {
            transform: translateY(0);
        }
}

.text-overlay {
    width: 322px;
    color: var(--white-text-color);
    font-size: 18px;
    line-height: 1.56;
}

.p-text {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.88;
}